{% extends 'base.html' %}
{% block title %}
  {{ g.name }}
{% endblock %}
{% block content %}
  <a href="{% url 'grades_list' %}" class="btn btn-success">Go Back</a>
  <a onclick=confirmDelete() class="btn btn-danger">Delete</a>
  <script>
    function confirmDelete(){
      var r = confirm('You are deleting this record...')
      if (r==true)
      window.location.href = "{% url 'delete_grade' g.id %}"
    }
  </script>
  <a href="{% url "update_grade" g.id%}" class="btn btn-info">Update</a>
  <h2>ID: {{ g.id }}</h2>
  <h2>Student: {{ g.student.name }} {{ g.student.family }}</h2>
  <h2>Subject: {{ g.student.teacher.subject }}</h2>
  <h2>Score: {{ g.score }}</h2>
{% endblock %}

{% block bgcolor %}
  gray
{% endblock %}
