{% extends 'base.html' %}
{% block title %}
  {{ s.name }}
{% endblock %}

{% block content %}
  <a href="{% url 'students_list' %}" class="btn btn-success">Go Back</a>
  <a onclick=confirmDelete() class="btn btn-danger">Delete</a>
  <script>
    function confirmDelete(){
      var r = confirm('You are deleting this record...')
      if (r==true)
      window.location.href = "{% url 'delete_student' s.id %}"
    }
  </script>
  <a href="{% url "update_student" s.id %}" class="btn btn-info">Update</a>
  <h2>ID: {{ s.id }}</h2>
  <h2>Name: {{ s.name }}</h2>
  <h2>Family: {{ s.family }}</h2>
  <h2>Age: {{ s.age }}</h2>
  <h2>Teacher: {{ s.teacher }}</h2>
{% endblock %}

{% block bgcolor %}
  gray
{% endblock %}
